<!-- _includes/author-profile.html -->

<div class="author-profile">
  {% if site.author.avatar %}
  <div class="author-profile-avatar">
    <img src="{{ site.author.avatar }}" alt="Author's avatar">
  </div>
  {% endif %}
  
  <div class="author-profile-info">
    {% if site.author.name %}
    <h1>{{ site.author.name }}</h1>
    {% endif %}
    {% if site.author.pronouns %}
    <p><em>{{ site.author.pronouns }}</em></p>
    {% endif %}
    {% if site.author.bio %}
    <p>{{ site.author.bio }}</p>
    {% endif %}
    {% if site.author.location %}
    <p><i class="fa fa-map-marker"></i> {{ site.author.location }}</p>
    {% endif %}
    {% if site.author.employer %}
    <p><i class="fa fa-briefcase"></i> {{ site.author.employer }}</p>
    {% endif %}
    {% if site.author.uri %}
    <p><i class="fa fa-globe"></i> <a href="{{ site.author.uri }}" target="_blank">{{ site.author.uri }}</a></p>
    {% endif %}
    {% if site.author.email %}
    <p><i class="fa fa-envelope"></i> <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></p>
    {% endif %}
  </div>

  <div class="author-profile-links">
    {% if site.author.researchgate %}
    <p><i class="fa fa-researchgate"></i> <a href="{{ site.author.researchgate }}" target="_blank">ResearchGate</a></p>
    {% endif %}
    {% if site.author.googlescholar %}
    <p><i class="fa fa-googlescholar"></i> <a href="{{ site.author.googlescholar }}" target="_blank">Google Scholar</a></p>
    {% endif %}
    {% if site.author.PhilPapers %}
    <p><i class="fa fa-philpapers"></i> <a href="{{ site.author.PhilPapers }}" target="_blank">PhilPapers</a></p>
    {% endif %}
    {% if site.author.orcid %}
    <p><i class="fa fa-orcid"></i> <a href="{{ site.author.orcid }}" target="_blank">ORCID</a></p>
    {% endif %}
    {% if site.author.Academia %}
    <p><i class="fa fa-academia"></i> <a href="{{ site.author.Academia }}" target="_blank">Academia</a></p>
    {% endif %}
    {% if site.author.Spotify %}
    <p><i class="fa fa-spotify"></i> <a href="{{ site.author.Spotify }}" target="_blank">Spotify</a></p>
    {% endif %}
  </div>
</div>